---
title: Update Product
layout: ./app/layout.ejs
engine: ejs
current: update-product
---

<main id="updateApp">
    <div class="container">
      <!-- 產品更新列表 -->
      <div class="text-end">
        <button type="button" class="btn btn-primary mt-4" @click="openModal('isNew')">建立新的產品</button>
      </div>
      <table class="table table-hover align-middle mt-4">
        <thead>
          <tr>
            <th scope="col" class="col-s">分類</th>
            <th scope="col" class="col-l">產品名稱</th>
            <th scope="col" class="col-s">原價</th>
            <th scope="col" class="col-s">售價</th>
            <th scope="col" class="col-s">是否啟用</th>
            <th scope="col" class="col-m">編輯</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in products" :key="item.id">
            <td>{{ item.category }}</td>
            <td>{{ item.title}}</td>
            <td>{{ item.origin_price }}</td>
            <td>{{ item.price }}</td>
            <td v-if="item.is_enabled" class="text-success">啟用</td>
            <td v-else class="text-danger">未啟用</td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic outlined btn">
                <button type="button" class="btn btn-outline-primary" @click="openModal('edit', item)">編輯</button>
                <button type="button" class="btn btn-outline-danger border-start-0" @click="openModal('delete', item)">刪除</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- component: pagination -->
      <!-- 顯示頁碼：資料從外層傳到內層，外 pages/內 pagination-->
      <!-- 頁碼切換：資料從內層傳到外層，外 getProducts/內 get-product -->
      <pagination :pages="pagination" @get-product="getProducts"></pagination>

      <!-- Modal:新增/編輯 -->
      <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
        <!-- component: updatemodal -->
        <updatemodal :temp-product="tempProduct" :is-new="isNew" @get-products="getProducts"></updatemodal>
      </div>

      <!-- Modal:刪除 -->
      <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <!-- component: deletemodal -->
        <deletemodal :temp-product="tempProduct" @get-products="getProducts"></deletemodal>
      </div>
    </div>
</main>


